# Var env to be used when running with docker.
# Default to work as is with docker and the provided setup script.

ENV=local
  
SELF_BASE_URI=https://ROOT_DOMAIN

# Api
## The API socket config, see https://pkg.go.dev/net#Listener
API_NETWORK=unix
API_ADDRESS=/sockets/honk.sock

# Database
POSTGRES_HOST=pgsql:5432
POSTGRES_PASSWORD=toto42sh
POSTGRES_USER=honk
POSTGRES_DB=honk