# Var env to be used when running with docker.
# Default to work as is with docker and the provided setup script.

ENV=local
CREATE_USER=toto
CREATE_PASSWORD=toto42sh

POSTGRES_PASSWORD=honk
POSTGRES_USER=honk
POSTGRES_DB=honk

REDIS_PASSWORD=honk